<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link href="/styles/home.css" rel="stylesheet" type="text/css" >

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <link href="/styles/style.css" rel="stylesheet" type="text/css" >
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<%- include('./partials/_header') %>
<%- include('./partials/_uploadResource') %>
<body>
    <div class="search">
      <form class="search-bar" method="POST" action="/search">
        <input name="search" class="search-input" type="text">
        <i class="fa fa-search"></i>
      </form>
    </div>
<section class="resource-container">
  <% for (let i = 0; i < resource.data.length; i++) { %>
    <div class="hvr-border-fade">
    <a href="/resources/<%=resource.data[i].id%>">
    <div class="resource-box">
         <span class="resource-title"><%= resource.data[i].title %></span>
        <img class="resource-img" src="<%= resource.data[i].img_url %>">
         <% if (resource.userId) { %>
         <form class="like-button" method="POST" action="/like/<%=resource.data[i].id%>?_method=PUT"><button class="submit"><i class="material-icons">favorite_border</i></button></form>
         <% } else { %>
        <form class="like-button" method="GET" action="/login"><button class="submit">Like</button></form>
        <% } %>
    </div>
  </div>
  </a>
  <% } %>
</section>
</body>

</html>
