<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>

    <link href="/styles/style.css" rel="stylesheet" type="text/css" >

  </head>
  <body>
    <div class="wrap">
        <div class="search">
          <form class="search-bar" method="POST" action="/myResources/search/<%=resource.userId%>">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i>Search</button>
          </form>
        </div>
    </div>

    <%- include('./partials/_header') %>
    <%- include('./partials/_uploadResource') %>

    <h1>My Resources</h1>
    <p>Liked resources</p>
    <section id="likedResource-container">
        <% for (let i = 0; i < resource.liked.length; i++) { %>
          <div class="resource-box">
               <span class="resource-title"><%= resource.liked[i].title %></span>
               <img class="resource-img" src=<%= resource.liked[i].image_url %> />
               <form method="POST" action="/myResources/unlike/<%=resource.liked[i].id%>?_method=DELETE"><button class="submit">Unlike</button></form>
               <!-- click resource needs to redirect to resource page -->
          </div>
        <% } %>
      </section>
      <p>Uploaded resources</p>
      <section id="uploadedResource-container">
          <% for (let i = 0; i < resource.uploaded.length; i++) { %>
            <div class="resource-box">
                 <span class="resource-title"><%= resource.uploaded[i].title %></span>
                 <img class="resource-img" src=<%= resource.uploaded[i].image_url %> />
                 <form action="/myResources/delete/<%=resource.uploaded[i].id%>?_method=DELETE" method="POST"><button class="submit">Delete</button></form>
                 <!-- click resource needs to redirect to resource page -->
            </div>
          <% } %>
        </section>
  </body>
</html>
