<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile</title>

    <link href="/styles/style.css" rel="stylesheet" type="text/css" >
    <link href="/styles/myResources.css" rel="stylesheet" type="text/css" >
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">


  </head>
  <body>
    <div class="wrap">
        <div class="search">
          <form class="search-bar" method="POST" action="/myResources/search/<%=resource.userId%>">
            <input type="text" placeholder="Search" name="search">
            <button type="submit"><i class="fa fa-search"></i>Search</button>
          </form>
        </div>
    </div>

    <%- include('./partials/_header') %>
    <%- include('./partials/_uploadResource') %>
    <h1 class="resource-header">Liked resources</h1>
    <section class="resource-container">
        <% for (let i = 0; i < resource.liked.length; i++) { %>
          <a href="/resources/<%=resource.liked[i].id%>">
            <div class="resource-box">
                <span class="resource-title"><%= resource.liked[i].title %></span>
                <img class="resource-img" src="<%= resource.liked[i].img_url%>">
            </div>
          </a>
        <% } %>
      </section>
      <h1 class="resource-header">Uploaded resources</h1>
      <section class="resource-container">
          <% for (let i = 0; i < resource.uploaded.length; i++) { %>
            <a href="/resources/<%=resource.uploaded[i].id%>">
              <div class="resource-box">
                  <span class="resource-title"><%= resource.uploaded[i].title %></span>
                  <img class="resource-img" src="<%= resource.uploaded[i].img_url %>">
              </div>
            </a>
          <% } %>
        </section>
  </body>
</html>
