<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reources</title>

    <style>
      .resource {
        margin: 0% 20% 0% 20%;
      }

      .img {
        border: 1px black solid;
      }

      .likes-ratings {
        width: fit-content;
      }

      .resource-comemnts {
        border: 1px black solid;
        margin-top: 10px;
      }

      .comment header {
        display: flex;
        justify-content:  space-between;

      }

    </style>
  </head>
  <body>
    <!-- Import header partial -->
    <%- include('./partials/_header') %>



    <section class="resource">

      <div class="img">
        <img class="resource-img" src=<%= resource.img_url %> />
      </div>

      <section class="likes-ratings">
        RATING: <%= resource.rating %> LIKE <%= resource.likes %>
      </section>

      <a href=<%= resource.url %>>Link</a>

      <p class="resource-desciption"><%= resource.description %></p>

    <section class="resource-comemnts">


      <% for(const comment in comments) { %>
      <article>
        <header>
          <h1><%= comments[comment].comment_user %></h1>
          <h2><%= comments[comment].comments_date %></h2>
        </header>
        <section>
          <p><%= comments[comment].comment_text %></p>
        </section>
      </article>
      <% } %>

  </body>
</html>
