<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="/styles/style.css" rel="stylesheet" type="text/css" >
    <link href="/styles/resources.css" rel="stylesheet" type="text/css" >


    <title>Reources</title>


  </head>
  <body>
    <!-- Import header partial -->
    <%- include('./partials/_nav') %>



    <section class="resource">

      <div class="img">
        <img class="resource-img" src=<%= resources.resourceInfo[0].img_url %> />
      </div>

      <section class="likes-ratings">
        RATING: <%= resources.ratings[0].count %> LIKE <%= resources.likes[0].count %>
      </section>

      <a href=<%= resources.resourceInfo[0].img_url %>>Link</a>

      <p class="resource-desciption"><%= resources.resourceInfo[0].description %></p>

    <section class="resource-comemnts">
      <form action="POST">
      Comment <input type="text" ><br>
      </form>

      <% for(const comment in resources.comments) { %>
      <article class="comment">
        <header>
          <h1><%= resources.comments[comment].user_id %></h1>
          <h4><%= resources.comments[comment].created_at %></h4>
        </header>
        <section>
          <p><%= resources.comments[comment].text %></p>
        </section>
      </article>
      <% } %>

  </body>
</html>
