<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reources</title>

    <style>
     body {
      background-color: rgb(213, 213, 213)
     }
     .resource {
        margin: 0% 20% 0% 20%;
        padding: 0 10px 0 10px;
        background-color: white;
      }

      .img {
        text-align: center;
      }

      .likes-ratings {
        width: fit-content;
      }


      .comment {
        border: 1px black solid;
        margin: 10px 0 10px 0;
        padding: 0 5px 5px 5px;
      }

      .comment header {
        display: flex;
        justify-content:  space-between;
        margin: 10px 0 10px 0;
      }

    </style>
  </head>
  <body>
    <!-- Import header partial -->
    <%- include('./partials/_header') %>



    <section class="resource">

      <div class="img">
        <img class="resource-img" src=<%= resources.resourceInfo[0].img_url %> />
      </div>

      <section class="likes-ratings">
        RATING: <%= resources.ratings[0].count %> LIKE <%= resources.likes[0].count %>
      </section>

      <a href=<%= resources.resourceInfo[0].img_url %>>Link</a>

      <p class="resource-desciption"><%= resources.resourceInfo[0].description %></p>

    <section class="resource-comemnts">


      <% for(const comment in resources.comments) { %>
      <article class="comment">
        <header>
          <h1><%= resources.comments[comment].user_id %></h1>
          <h4><%= resources.comments[comment].created_at %></h4>
        </header>
        <section>
          <p><%= resources.comments[comment].text %></p>
        </section>
      </article>
      <% } %>

  </body>
</html>
